<?xml version="1.0"?>
<Root>
	<CloudEasy>
		<Sprite>CloudEasy1.png</Sprite>
		<Red>0</Red>
		<Green>255</Green>
		<Blue>0</Blue>
		<ImputArray>
			<Imput>B</Imput>
			<Imput>O</Imput>
			<Imput>M</Imput>
			<Imput>G</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy2.png</Sprite>
		<Red>0</Red>
		<Green>155</Green>
		<Blue>100</Blue>
		<ImputArray>
			<Imput>R</Imput>
			<Imput>C</Imput>
			<Imput>B</Imput>
			<Imput>O</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy3.png</Sprite>
		<Red>100</Red>
		<Green>155</Green>
		<Blue>0</Blue>
		<ImputArray>
			<Imput>J</Imput>
			<Imput>I</Imput>
			<Imput>N</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy4.png</Sprite>
		<Red>100</Red>
		<Green>55</Green>
		<Blue>100</Blue>
		<ImputArray>
			<Imput>T</Imput>
			<Imput>S</Imput>
			<Imput>P</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy5.png</Sprite>
		<Red>200</Red>
		<Green>55</Green>
		<Blue>0</Blue>
		<ImputArray>
			<Imput>T</Imput>
			<Imput>E</Imput>
			<Imput>M</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy6.png</Sprite>
		<Red>0</Red>
		<Green>55</Green>
		<Blue>200</Blue>
		<ImputArray>
			<Imput>I</Imput>
			<Imput>M</Imput>
			<Imput>T</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy7.png</Sprite>
		<Red>200</Red>
		<Green>55</Green>
		<Blue>0</Blue>
		<ImputArray>
			<Imput>L</Imput>
			<Imput>O</Imput>
			<Imput>L</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy8.png</Sprite>
		<Red>0</Red>
		<Green>0</Green>
		<Blue>255</Blue>
		<ImputArray>
			<Imput>P</Imput>
			<Imput>A</Imput>
			<Imput>C</Imput>
			<Imput>M</Imput>
			<Imput>A</Imput>
			<Imput>N</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy9.png</Sprite>
		<Red>255</Red>
		<Green>0</Green>
		<Blue>0</Blue>
		<ImputArray>
			<Imput>V</Imput>
			<Imput>V</Imput>
			<Imput>C</Imput>
		</ImputArray>
	</CloudEasy>
	<CloudEasy>
		<Sprite>CloudEasy10.png</Sprite>
		<Red>20</Red>
		<Green>20</Green>
		<Blue>100</Blue>
		<ImputArray>
			<Imput>C</Imput>
			<Imput>O</Imput>
			<Imput>V</Imput>
			<Imput>F</Imput>
			<Imput>E</Imput>
			<Imput>F</Imput>
			<Imput>E</Imput>
		</ImputArray>
	</CloudEasy>
</Root>
